/* ------------------------- */
/* Sobre Mi - Index */
/* ------------------------- */
.sobre-mi-index {
  padding-top: 50px;

  p {
    color: $texto;
  }
  .wrapper-sobreMi {
    .img-sobreMi {
      text-align: center;
      align-self: center;
    }
  }
}
