//Variables
@import "./Base/variables";
//Estilos Globales
@import "./Base/globales";

//COMPONENTS
@import "./Components/footer";

//PAGES


@import './Page/contacto';
=======
@import "./Page/sobremi";
@import "./Page/servicios";

