/* ------------------------- */
/* Particles */
/* ------------------------- */
.parallax-particles {
	position: relative;
	#particles-js {
		width: 100%;
		height: 100vh;
		background: url('/static/img/parallax.jpg'), rgba(0, 0, 0, 0.8);
		background-size: cover;
		background-attachment: fixed;
		background-position: 50% 80%;
		background-repeat: no-repeat;
		opacity: 0.9;
	}
	.info {
		position: absolute;
		top: calc(50% - 40px);
		display: flex;
		width: 100%;
		justify-content: center;
		.wrapper-saludo {
			.saludo {
				font-size: 140px;
				line-height: 170px;
				font-weight: 700;
				text-transform: uppercase;
				color: $blanco;
				margin: 0;
			}
		}
	}
	.detalleNombre {
		width: 30%;
		padding-left: 30px;
		line-height: 55px;
		p,
		h1 {
			text-transform: uppercase;
			color: $blanco;
		}
		p:nth-child(1) {
			font-size: 30px;
		}
		h1 {
			font-size: 40px;
			font-weight: 700;
			margin: 0;
		}
		.element,
		.typed-cursor {
			color: $red;
			font-size: 30px;
			font-weight: 300;
		}
	}
}

@media screen and (max-width: 992px) {
	//PARALLAX
	.parallax-particles {
		.info {
			flex-direction: column;
			text-align: center;
		}
		.detalleNombre {
			width: 100%;
			padding-left: 0px;
		}
	}

	//Sobre-mi INDEX
	.sobre-mi-index {
		.wrapper-sobreMi {
			.img-sobreMi {
				margin-bottom: 3.125em;
			}
		}
	}

	//Servicios INDEX
	.servicios-index {
		.servicio-individual {
			margin-bottom: 20px;
		}
	}

	//Elegirme index
	.elegirme {
		.elegirme-img {
			text-align: center;
			margin-bottom: 50px;
		}
		.elegirme-info {
			display: flex;
			flex-direction: column;
			.info-body {
				.titulos-h4 {
					text-align: center;
				}
				p {
					margin-bottom: 20px;
				}
			}
		}
	}

	//contacto index
	.contacto {
		font-size: 16px;
		.formulario {
			margin-top: 30px;
			.form-group {
				.form-nombre-email:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.parallax-particles {
		.info {
			.wrapper-saludo {
				.saludo {
					font-size: 70px;
					line-height: 80px;
				}
			}
		}
	}

	.parallax-trabajemos-juntos {
		h3 {
			line-height: 50px;
		}
	}
}
